.DS_Store
server/node_modules/
node_modules/
/dist/
files/
files/*
npm-debug.log*
*.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
uploads/
*.env
.env
.env.*
data/
data/*
sslcert/*
/config/
config/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln